.event-calendar-container {
    /* border: 2px solid black; */
    width: 90vw;
    margin: 20px 0px;
}

.no-events {
    text-align: center;
}

.event-date-group {
    margin-bottom: 20px;
}

.event-month-header {
    border-top: 5px solid #113e85;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: #113e85;
}

.event-date-header {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #555;
}

.event-card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
    cursor: pointer;
    /* background: #f9f9f9; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.event-card {
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.event-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.event-card-img-container {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.event-card-img-container img {
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, object-position 0.3s ease;
}

/* Accordion transition */
.event-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease;
}

.add-to-calendar-btn {
    background: transparent;
    color: #113e85;
    border: 2px solid #adcdff;
    padding: 2px;
    margin: 0;
}

/* When the accordion is open */
.event-card-content.open .event-details {
    max-height: 1000px;
    /* Or a value that works for your content */
    flex-grow: 1;
    padding: 20px;
    /* Ensures the details section fills up remaining space */
}

.event-card-content.open {
    flex-direction: column;
    /* Stack content vertically */
}

.event-card-content.open .event-card-body .event-title,
.event-card-content.open .event-card-body .event-location,
.event-card-content.open .event-card-body .event-time {
    margin-bottom: 10px;
}

.event-location {
    color: rgb(0, 134, 252);
    text-decoration: none;
}

.event-card-content.open .event-card-body {
    border-bottom: 2px solid whitesmoke;
}

.event-card-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}


/* For small screen devices */
@media (max-width: 728px) {
    .event-card-header {
        display: flex;
        flex-direction: column;
    }

    .event-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .event-card-img-container {
        width: 90vw;
        display: none;
    }

    .event-card-img-container img {
        object-position: center;
        width: 100%;
        height: 100%;
    }
}


/* TOP EVENT NAVBAR */

.events-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    /* border: 2px solid white; */
    color: white;
    /* width: 100%; */
}

.events-navbar div {
    gap: 20px;
}

.events-navbar input,
.events-navbar select,
.events-navbar button {
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.events-navbar input,
.events-navbar select {
    background-color: #fff;
    color: #333;
}

.events-navbar button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.events-navbar button:hover {
    background-color: #0056b3;
}