/* src/App.css */
.App {
  font-family: Raleway, Nunito, sans-serif;
}

.page {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  flex-direction: column;
  padding: 10vw;
}


.headerWithButton {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row-reverse;
}

@media (max-width: 600px) {
  .headerWithButton {
    flex-direction: column;
  }
  
}

button {
  width: fit-content;
  min-width: 100px;
}

.todayButton {
  background-color: rgb(152, 207, 255);
  color: white;
  font-weight: bolder;
}