.event-calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 20px 10vw; */
}

.events-list {
    flex: 1;
    /* Make the events list take up available space */
}

.timeline {
    display: flex;
    flex-direction: column;
}

.event-item {
    margin-bottom: 50px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.event-time {
    font-size: 0.9rem;
    color: #888;
}

.event-details {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */

}

.event-details h3 {
    margin: 10px 0;
}

.event-details .description {
    color: #5f5f5f;
    font-family: "Raleway", sans-serif;
}

.event-image {
    max-width: 400px;
    /* Adjust image width as needed */
}

.event-image img {
    width: 20vw;
    border-radius: 8px;
}

.learnMoreBtn {
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #37476b;
    color: white;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .event-image {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}

.event-item {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.event-summary {
    cursor: pointer;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.accordion-btn {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.accordion-btn:hover {
    background-color: #0056b3;
}

.event-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.event-image img {
    max-width: 100%;
    border-radius: 5px;
}