.eventForm {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    /* max-width: 80vw; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea,
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

select {
    background-color: white;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: span 2;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .eventForm form {
        grid-template-columns: 1fr;
    }
    
    .button-container {
        grid-column: span 1;
    }
}